<?xml version="1.0" encoding="UTF-8"?>
<module name="net.giro.navegador" xmlns="urn:jboss:module:1.1">
	<resources>
		<resource-root path="Navegador-rf4.5.jar"/>
	</resources>
	<dependencies>
		<module export="true" name="org.richfaces" />
		<module export="true" name="net.giro.logica.publico" />
		<module export="true" name="net.giro.model.publico" />
		<module export="true" name="javax.faces.api" />
		<module export="true" name="javaee.api" />
	</dependencies>
</module>