.colIzq{
	width: 100px;
	text-align: right;
}
.colDer{
	text-align: left;
	width:100%;
}
.derTitulo{
	width: 15em;
	text-align: left;
}
.colDato{
	width: 12em;
	text-align: right;
}
.colDer2{
	width: 48em;
	text-align: left;
}
.colDer6{
	width: 12em;
	text-align: left;
}
