.align-LEFT{ text-align:left; }
.align-CENTER{ text-align:center; }
.align-RIGHT{text-align:right; }

.Row1{
	background: #FFFFFF;
}
.Row2{
	background: #f1f1f1;
}
.Titulo{
	font-weight: bold;
	font-size: 12px;
	color:#525252;
}

.TituloEmpleos{
	font-weight: bold;
	font-size: 16px;
	color:#A92B28;
}

.TituloHombres{
	font-weight: bold;
	font-size: 12px;
	color:#5AB5F6;
}

.TituloMujeres{
	font-weight: bold;
	font-size: 12px;
	color:#F65AEE;
}

.TituloIndigenas{
	font-weight: bold;
	font-size: 12px;
	color:#1E9273;
}

.TituloDiscapacitados{
	font-weight: bold;
	font-size: 12px;
	color:#FFA53E;
}

.Titulo10{
	font-weight: bold;
	font-size: 10px;
	color:#525252;
}
.colorTitulo{
	color:#525252;
}
.Descripcion{
	font-weight: bold;
	font-size: 12px;
	color:#808080;
}

.DescripcionRight{
	font-weight: bold;
	font-size: 12px;
	color:#808080;
	text-align:right; 
}
.Descripcion10{
	font-weight: bold;
	font-size: 10px;
	color:#808080;
}
.Observacion{
	font-weight: bold;
	font-size: 12px;
	color:#C0C0C0;
}
.Observacion10{
	font-weight: bold;
	font-size: 10px;
	color:#C0C0C0;
}
.Err{
	text-align:right;
	font-size: 12px;
	color:red;
}
.attIzq{
	text-align:right;
}
.attDer{
	text-align:left;
}

.rich-messages{
	float:center;
	display:block;
	text-align:left;
	font-weight: bold;
	font-size: 12px;
	color:#BB3029;
	background-color:#E5EEFE;
	border:2px solid #C6DEFF;
	font-family:Arial,Verdana,sans-serif;
	padding: 0.5em;
	margin-right:1em;
	margin-left:1em;
}
.rich-messages dt{
	margin: .2em 0 .2em 0;
}
.encabezado{
	border:2px solid #9CADBA;
	color:#6A6868; 
	background-color:#E4EDFD; //#f1f1f1;//#BED6F8;
	font-weight: bold;
	padding:.2em;
	margin:1em .5em;
	text-align:center;
	display:block;
}

.colPnlBusqIzq{
	text-align: right;	
}
.colPnlBusqDer{
	text-align: left;	
}
.tygCompGtosColIzq{
	width:150px;
	text-align:right;
	font-weight:bold;
	font-size:12px;
	color:#6A6868;
}
.tygCompGtosColDer{
	width:540px;
	text-align:left;
}
.fondoRequerido{
	background-color: beige;
}

.colTitulo{
	width: 130px;
	text-align: right;
}
.colTituloDom{
	width: 100px;
	text-align: right;
}
.colDato{
	text-align: left;
}

.rowCancelado{
	font-weight: normal;
	color:red;
}
.TituloTxtLabel{
	background-color: white;
	border:none!important;
	color:#525252;
	cursor: default!important;
	font-weight: bold;
	font-size: 11px;
	margin-right: 5px!important;
}

.panelLeft {
	width: 640px;
}
.panelRight {
	width: 80px;
}

.colLayout, .colLayoutTop {
	vertical-align:top;
}

.colLayoutMiddle {
	vertical-align:middle;
}

.colLayoutBottom {
	vertical-align:bottom;
}
.tdToLeft {
	text-align: left;
	vertical-align:center;
	width:50%;
}
.tdToRight {
	text-align: right;
	vertical-align:center;
	width:50%;
}

.tableParent .tabla_pagina thead {
	position: -webkit-sticky;
	position: sticky;
	top:0;
}

hr {
	height:1px; 
	border:none; 
	color:#cccccc; 
	background-color:#cccccc;
	width:90%; 
	text-align:center;
	margin:5px auto;
}

/* BUSQUEDA */
#groupBusqueda {
	background: none;
  vertical-align: middle;
	padding:2px;
}

#groupBusqueda .busqueda1, #groupBusqueda .busqueda2, #groupBusqueda .busqueda3 {
	background-color: white;
	border:1px solid lightgrey;
	display: inline-block;
	margin:0;
	padding:3px 5px;
	height:28px;
  vertical-align: middle;
}

#groupBusqueda .busqueda1 {
	border-radius: 10px 0 0 10px;
}

#groupBusqueda .busqueda2 {
	border-left: none;
	border-right: none;
}

#groupBusqueda .busqueda3 {
	border-left: none;
	border-radius: 0 10px 10px 0;
}

#groupBusqueda:focus-within .busqueda1,
#groupBusqueda:focus-within .busqueda2,
#groupBusqueda:focus-within .busqueda3 {
	border-color:skyblue;
}
