<?xml version="1.0" encoding="UTF-8"?>
<module name="net.giro.model.compras" xmlns="urn:jboss:module:1.1">
	<resources>
		<resource-root path="Model_Compras.jar"/>
	</resources>
	<dependencies>
		<module export="true" name="net.giro.comun"/>
		<module export="true" name="org.hibernate"/>
	</dependencies>
</module>