<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<module name="org.postgresql" xmlns="urn:jboss:module:1.1">
	<resources>
		<resource-root path="postgresql-9.4.1207.jre7.jar"/>
	</resources>
	<dependencies>
		<module name="javax.api"/>
		<module name="javax.transaction.api"/>
	</dependencies>
</module>