<?xml version="1.0" encoding="UTF-8"?>
<module name="net.giro.logica.cuentasporpagar" xmlns="urn:jboss:module:1.1">
	<resources>
		<resource-root path="Logica_CuentasPorPagar.jar"/>
	</resources>
	<dependencies>
		<module export="true" name="net.giro.comun"/>
		<module export="true" name="net.giro.logica.cargasdocumentos"/>
		<module export="true" name="net.giro.logica.clientes"/>
		<module export="true" name="net.giro.logica.compras"/>
		<module export="true" name="net.giro.logica.contabilidad"/>
		<module export="true" name="net.giro.logica.tyg"/>
		<module export="true" name="net.giro.model.clientes"/>
		<module export="true" name="net.giro.model.compras"/>
		<module export="true" name="net.giro.model.contabilidad"/>
		<module export="true" name="net.giro.model.cuentasporpagar"/>
		<module export="true" name="net.giro.model.gestionproyectos"/>
		<module export="true" name="net.giro.model.publico"/>
		<module export="true" name="net.giro.model.rechum"/>
		<module export="true" name="net.giro.model.tyg"/>
		<module export="true" name="com.enterprisedt.edtFTPj"/>
		<module export="true" name="com.google.code.gson"/>
		<module export="true" name="org.beanshell.bsh"/>
		<module export="true" name="org.apache.commons.beanutils"/>
		<module export="true" name="commons-httpclient"/>
	</dependencies>
</module>