<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="net.giro.model.publico">
  <resources>
    <resource-root path="Model_Publico.jar" />
  </resources>
  <dependencies>
    <module name="net.giro.comun"  export="true" />
    <module name="org.hibernate"  export="true"/>
  </dependencies>
</module>
